<?xml version="1.0" encoding="UTF-8"?>
<inventory xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema.xsd">
  #foreach($entry in $body)
    <category>
      <id>$!{entry.id}</id>
      <name>$!{entry.name}</name>
      #foreach($item in $entry.items)
        <item>
          <itemId>$!{item.itemId}</itemId>
          <categoryId>$!{item.categoryId}</categoryId>
          <availableStock>$!{item.availableStock}</availableStock>
          <sellingPrice>$!{item.sellingPrice}</sellingPrice>
        </item>
      #end
    </category>
  #end
</inventory>